

body {
    background-image: url('/image/background.png');
    background-size: cover;
    
    
}


.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'heading heading imgprofil imgprofil';
    gap: 10px;
    padding: 10px;

}

.nav {
    grid-area: nav;
}

.heading {
    grid-area: heading;
    position: relative;
    top: 50px;
}
.nama {
    text-align: left;
    left: 20px;
}

.heading {
    text-align: left;
    font-family:sans-serif;
}

.imgprofil {
    grid-area: imgprofil;
}
.imgprofil img {
    width: 446px;
    height: 500px;
    flex-shrink: 0;
    position: relative;
    top: 120px;
    left: 130px;
}

#logout {
        background:#ffffff;
        color:rgb(12, 59, 152);
        border-top:0;
        border-left:0;
        border-right:0;
        border-bottom:5px solid #2A80B9;
        padding:10px 20px;
        text-decoration:none;
        font-family:sans-serif;
        font-size:11pt;
}
#profil {
        background:#2C97DF;
        color:white;
        border-top:0;
        border-left:0;
        border-right:0;
        border-bottom:5px solid #2A80B9;
        padding:10px 20px;
        text-decoration:none;
        font-family:sans-serif;
        font-size:11pt;
      
}
.albab-im-albab-ghozhari {
    top: 335px;
    left: 267px;
    color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    font-size: 60px;
    font-style: Regular;
    text-align: left;
    font-family: Black Han Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .albab-text08 {
    color: #ffffff;
  }
  .albab-text09 {
    color: #0afca5;
  }

