section {
    background-image: url("../image/clinic-registration-counter-waiting-room-lobby-computer-make-checkup-appointments-with-healthcare-report-papers-empty-hospital-reception-desk-with-medical-forms-insurance-support\ 1.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
}